
section {
  text-align: center;
  margin: auto;
  min-height: 50vh;
}

button[type="submit"] {
  color: white;
}

#memberRegisterForm > * {
  margin: auto;
  display: block;
}

mat-form-field {
  width: 60%;
  margin: 16px;
}

@media screen and (max-width: 720px) {
  mat-form-field {
    width: 100%;
    margin-top: 16px;
  }

  button {
    width: 100%;
  }
}
