#footer-wrapper {
  width: fit-content;
  margin: auto;
  min-height: 100%;
  vertical-align: middle;
}

#copyright {
  margin: 0px;
  font-size: 1.1rem;
  line-height: 120px;
  vertical-align: middle;
}
