
.show {
  display: block !important;
}

.hide {
  display: none !important;
}

app-header {
  display: block;
  margin: 8px;
}

section {
  display: block;
  position: relative;
  margin: 8px;
  margin-bottom: 150px;
}

app-footer {
  display: block;
  height: 120px;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.spinner {
  position: relative;
  display: block;
  height: 60vh;
}
