
.banner {
  height: 70vh;
  background-image: url('../../../assets/images/website-frontpage-small.jpg');
  background-size: cover;
}

.titles {
  width: 80%;
  margin: auto;
  text-align: center;
  color: white;
}

#button-join {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
}
